:root{
    --main-bg-color: #bce2db;
    --second-bg-color: white;
    --list-bg-outlet-1:#eff7f5;
    --list-bg-outlet-2: #cbdbd8;
    --navbar-bg-colot: #2E2E48;
    --list-bg-color-font: #4ea7b6;

}

.home{
    display: flex;
    background-color: var(--main-bg-color);
}

.navbar{
    display: block;
    width: 286px;
    height: 100vh;
    background-color: var(--navbar-bg-colot);
    border-radius: 0px 25px 25px 0px;
    color: white;
    text-align: center;

}

.navbar img{
    width: 65px;
    height: 65px;
    border-radius: 45px;
    margin-top: 125px;
}

.navbar ul{
    list-style: none;
    text-align: center;
}

.navbar li{
    width: 100%;
    display: flex;
    margin-top: 35px;
    margin-left: 28px;
}

.icon{
    margin-right: 25px;
    display: flex;
}

.fontAwesome{
    margin-right: 12px;
}

.content{
    display: block;
    width: calc(100% - 106px);
    height: 100vh;
    margin-left: 250px;

}

.containerConsumo{
    width: 100%;
    display: block;
}

.positionConsumo{
    display: flex;
}

.blockConsumo{
    width: 300px;
    height: 150px;
    margin-left: 45px;
    margin-right: 15px;
    margin-top: 25px;
    background-color: var(--second-bg-color);
}


.linechart{
    width: 660px;
    height: 350px;
    margin-left: 45px;
    margin-top: 25px;
    background-color: var( --second-bg-color);
}

.groupedBarChart{
    width: 660px;
    height: 350px;
    margin-left: 45px;
    margin-top: 25px;
    background-color: var( --second-bg-color);
}

.tilteConsumo{
    font-size: 20px;
    margin-left: 10px;
    font-weight: bold;
}

.valorConsumo{
    text-align: center;
    background-image: linear-gradient(120deg, #6bf5f2, #1be56f);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 35px;
}

.containerGraficos{
    display: flex;
}

.Tomadas{
    display: block;
    width: 300px;
    height: 725px;
    margin-left: 60px;
    margin-right: 35px;
    margin-top: 25px;
}

.consumoDia{
    width: 300px;
    height: 350px;
    background-color: var(--second-bg-color);
}

.consumoDia1{
    width: 300px;
    height: 350px;
    margin-top: 25px;
    background-color: var(--second-bg-color);
}

.ListaTomadas{
    display: block;
    width: 100%;
    height: 350px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.ListaTomadas::-webkit-scrollbar {
    width: 8px;               /* width of the entire scrollbar */
  }
  
  .ListaTomadas::-webkit-scrollbar-track {
    background: #0a0c20;        /* color of the tracking area */
    height: 15px;
    padding-left: 5px;  
    padding-right: 5px;
    color: white;
  }
  
  .ListaTomadas::-webkit-scrollbar-thumb {
    background-color: lightslategray;    /* color of the scroll thumb */
  }



.ListaTomadas p{
    margin: 0;
}


.name{
    width: 75%;
    display: inline-block;
    background-color: #3c3d4d;
    color: white;
    padding-top: 3px;
    padding-bottom: 3px;
}

.name p{
    margin-left: 15px;
}

.status{
    width: 25%;
    display: inline-block;
    background-color: #3c3d4d;
    color: white;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;

}

.nameTomada{
    width: 75%;
    display: inline-block;
    color: white;
    padding-top: 3px;
    padding-bottom: 3px;
}

.statusTomada{
    width: 25%;
    display: inline-block;
    color: white;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
}

.nameTomada2{
    width: 75%;
    display: inline-block;
    color: white;
    padding-top: 3px;
    padding-bottom: 3px;
}

.linkTomada2{
   color: #4ea7b6;
}

.statusTomada2{
    width: 25%;
    display: inline-block;
    color: white;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
}

.fundo1{
    background-color: var(--list-bg-outlet-1);

}

.fundo2{
    background-color: var(--list-bg-outlet-2);
}

.verde{
    margin: auto;
    width: 8px;
    height: 8px;
    border-radius: 25px;
    background-color:rgb(99, 250, 99);
}

.vermelho{
    margin: auto;
    width: 8px;
    height: 8px;
    border-radius: 25px;
    background-color:red;
    
}


@media screen and (max-width: 1300px) {

    .navbar li {
        margin-left: 10px;
    }

    .navbar p{
        margin-left: 15px;
    }

    .navbar button p{
        margin: 0px;
    }

    .navbar button{
        margin-left: 15px;
        margin-top: 10px;
    }


    .navbar img{
        margin-left: 15px;
    }

    .textnavBar{
        display: none;
    }







}