body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    color: #023047
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(180deg, #480ca8 320%, #6733ba);
    
}

.NovoUsuario{
    width: 600px;
    background-color: #fff;
    border-radius: 7px;
    padding: 40px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
    gap: 5px
}

.formLoginNovoUsuario{
    display: flex;
    flex-direction: column;
    width: 600px;
}


.selectTypeUserNovoUsuario{
    display: flex;
}

.pessoaFisica, .pessoaJuridica{
    display: block;
    align-items: center;
    text-align: center;
    width: 50%;
    height: 50px;
    background: blue;
    border: 1px black solid;
}

.pessoaFisica{
    border-radius: 12px 0px 0px 12px;
}

.pessoaJuridica{
    border-radius: 0px 12px 12px 0px;
}

.pessoaFisica span, .pessoaJuridica span{
    display: block;
    color: white;
    font-size: 25px;
    margin-top: 10px;
}

.pessoaFisica:hover, .pessoaJuridica:hover{
    cursor: pointer;
    background-color: darkblue;
}

.areaLogin img {
    width: 420px;
}

.NovoUsuario h1 {
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 2.3em;
    text-align: center;
}

.NovoUsuario p {
    display: inline-block;
    font-size: 14px;
    color: #666;
    margin-bottom: 25px;
}

.NovoUsuario input, select {
    padding: 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-top: 12px;
    border-radius: 4px;
    transition: all linear 160ms;
    outline: none;
}

.login{
    margin-bottom: 10px;
    
}


.NovoUsuario input:focus {
    border: 1px solid red;
}

.NovoUsuario label {
    margin-top: 4px;
    font-size: 14px;
    font-weight: 600;
}

.NovoUsuario a {
    display: inline-block;
    margin-bottom: 15px;
    font-size: 13px;
    color: #555;
    transition: all linear 160ms;
    width: 50%;
}

.NovoUsuario a:hover {
    color: red;
}

.NovoUsuario{
    text-align: start;
}

.novaConta{
    text-align: end;
}

.btnCadastro{
    background-color: blue;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border: none;
    transition: all linear 160ms;
    cursor: pointer;
    margin: 0;
    
}


.btnCadastro:hover {
    transform: scale(1.032);
    background-color: #ff0676;

}

@media screen and (max-width: 1500px) {


    .NovoUsuario{
        width: 500px;
        background-color: #fff;
        border-radius: 7px;
        padding: 40px;
        box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
        height: 675px;
    }

    .formLoginNovoUsuario{
        display: flex;
        flex-direction: column;
        width: 500px;
    }

    .pessoaFisica, .pessoaJuridica{
        display: block;
        align-items: center;
        text-align: center;
        width: 50%;
        height: 40px;
        background: blue;
        border: 1px black solid;
    }


    .pessoaFisica span, .pessoaJuridica span{
        display: block;
        color: white;
        font-size: 20px;
        margin-top: 10px;
    }

    .NovoUsuario h1 {
        padding: 0;
        margin: 0;
        font-weight: 500;
        font-size: 1.3em;
        text-align: center;
    }
    
    .NovoUsuario p {
        display: inline-block;
        font-size: 14px;
        color: #666;
        margin-bottom: 25px;
    }
    
    .NovoUsuario input, select {
        padding: 15px;
        font-size: 14px;
        border: 1px solid #ccc;
        margin-top: 12px;
        border-radius: 4px;
        transition: all linear 160ms;
        outline: none;
        width: 467px;
        height: 7px;
    }

    .btnCadastro {
        display: block;
        width: 499px !important;
        height: 45px !important;
        text-align: center;
        margin: auto;
    }



}